<h1>About</h1>

<p>If Jesus did not go to hell, then we would still have had to go there,because it would have meant that His sacrifice did not cover that area.
    His presence there was part of the divine assignment. He went there and finished the work. It was in hell that Jesus cemented our victory and sealed the devil’s doom of defeat.
    He took the keys to hell and death and rose victoriously! (Revelation 1:18). There He spoilt, defeated and stripped principalities and powers of all their power.
    Before this time, the devil had the power (key) of death. But when Jesus entered hell, He fixed the devil for good and destroyed all his powers!
</p>

<a href="{% url 'home' %}">Home</a>